<div class="container">
  <div class="row mt-3">
    <div class="col-lg-12">
      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col">No</th>
            <th scope="col">Nama Siswa</th>
            <th scope="col">NIM</th>
            <th scope="col">Jurusan</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mahasiswa of dataMahasiswa.data; index as i" class="text-center">
            <th scope="row">{{i+1}}</th>
            <td>{{mahasiswa.nama_mahasiswa}}</td>
            <td>{{mahasiswa.nim}}</td>
            <td>{{mahasiswa.jurusan}}</td>
            <td>
              <button class="btn btn-info mr-2" (click)="updateMahasiswa(mahasiswa.id)">Edit</button>
              <button class="btn btn-danger" (click)="deleteMahasiswaById(mahasiswa.id)">Delete</button>
            </td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>

<!-- Modal Form Update -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{titleModal}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClickCloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="onSumbit($event)">
          <input type="hidden" name="id" [(ngModel)]="idMahasiswa">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nama Siswa</label>
              <input type="text" class="form-control" name="nama_siswa" [(ngModel)]="setDataSiswa.nama_mahasiswa">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Nim</label>
              <input type="text" class="form-control" name="nim_siswa" [(ngModel)]="setDataSiswa.nim">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Jurusan</label>
            <input type="text" class="form-control" name="jurusan" placeholder="1234 Main St" [(ngModel)]="setDataSiswa.jurusan">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClickCloseModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="onClick()">Save changes</button>
      </div>
    </div>
  </div>
</div>